<footer>
    <div class="footsec">
        <div class="kontak">
            <h2>Kontak</h2>
            <p>0855-739-4322 (Narahubung)</p>
            <p>0855-739-4322</p>
            <p>0855-739-4322</p>
        </div>
        <div class="menu">
            <h2>Menu</h2>
            <div class="footmenu">
                <a href="index.html" class="footnav">Beranda</a>
                <a href="tentang.html" class="footnav">Tentang Kami</a>
                <a href="berita.html" class="footnav">Event</a>
                <a href="praktik.html" class="footnav">Praktik</a>
                <a href="produk.html" class="footnav">Produk</a>
            </div>
        </div>
        <div class="Alamat">
            <h2>Alamat</h2>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.462557889386!2d113.72188597320174!3d-8.156063381703182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd695a4e623a67b%3A0x776a7173741f28e0!2sUnit%20Penggemukan%20Sapi%20Politeknik%20Negeri%20Jember!5e0!3m2!1sid!2sid!4v1764130078677!5m2!1sid!2sid"
                    loading="lazy" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
    
    <div class="cr">
        <hr>
        <i>copyright &copy; team 2</i>
        <a href="mailto:team2@gmail.com">team2@gamil.com</a>
    </div>
</footer>